html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 5px 2.5%;
	background: #2c3e50;
	box-sizing: border-box;
	font-family: メイリオ;
    color: #ecf0f1;
}

body > * {
	margin: 5px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    display: inline;
    font-weight: normal;
}

#stats {
	margin: 0;
	padding: 3px;
	margin: 0px -3px;
	position: absolute;
	left: 0;
}

#stats dd {
	font-weight: bold;
}

#stats dd,
#stats dt {
	display: inline;
	margin: 0px 1.5px;
}

#insert-target {
	overflow: auto;
	resize: vertical;
	height: 200px;
    font-size: 24px;
}

#insert-target p {
	padding: 5px;
	margin: 5px;
	border-bottom: 1px solid #34495e;
	overflow-wrap: break-word;
}

#insert-target p:hover {
	box-shadow: 0px 0px 4px 1px #3498db;
}

#insert-target a,
#insert-target a:visited {
	color: #1abc9c;
	text-decoration: none;
}

#additional-info {
    flex-grow: 1;
}

#kanji-info {
	border: none;
    width: 100%;
    height: 100%;
}

#clear {
	height: 1em;
	margin-left: .5em;
    cursor: pointer;
}

#background {
    position: fixed;
    align-self: flex-end;
    height: 400px;
    z-index: -1;
    opacity: 0.1;
}

#manual-insert {
	resize: none;
	height: 1.5em;
}

#timer {
	position: absolute;
	right: 0;
	cursor: default;
	opacity: 0.5;
	padding: 5px;
}

#timer iframe {
	display: none;
}

#timer:hover iframe {
	display: block;
	position: absolute;
	top: 50%;
	right: 50%;
	width: 500px;
	height: 400px;
}