html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 5px 2.5%;
	background: #2c3e50;
	box-sizing: border-box;
}

body > * {
	margin: 5px;
}

main {
	overflow: auto;
	resize: vertical;
	height: 200px;
}

iframe[name="rtk"] {
	border: none;
	flex-grow: 1;
}

h1, p {
	color: #ecf0f1;
}

h1 {
	text-align: center;
}

h1 img {
	height: 1em;
	margin-left: .5em;
}

p {
	padding: 5px;
	margin: 5px;
	border-bottom: 1px solid #34495e;
}

p:hover {
	box-shadow: 0px 0px 4px 1px #3498db;
}

a, a:visited {
	color: #1abc9c;
	text-decoration: none;
}